body {
    background-color: #B57EDC;
    color: black;
}

html {
    scroll-behavior: smooth;
}

.top-menu {
    position: fixed;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    flex-direction: row;
    gap: 15px;

    z-index: 1000;
}

.top-menu a {
    background: #6a2c91;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 10px;
}

section {
    min-height: 100vh;
    padding: 120px 30px;
    box-sizing: border-box;
}

#photos {
    text-align: center;
}

.photo-gallery {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    flex-wrap: wrap;
    margin-top: 40px;
}

.photo-card {
    width: 200px;
    text-align: center;
}

.photo-card img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 15px;
}

.photo-card p {
    margin-top: 10px;
    color: black;
    font-size: 18px;
    font-weight: bold;
}





















































